{% extends "scheduler/layout.html" %}
{% load static %}

{%block body%}
<section class="home">
<div class="home-content">
    <h1>About the Creator</h1>
    <p>Hi! My name is Mahan Maalekian.</p>
    <p>I'm an undergraduate Software Engineering Student at McGill who attended Vanier College from 2021 to 2023.</p>
    <p>I value open communication and welcome any inquiries, feedback, or collaboration opportunities. 
        Please don't hesitate to get in touch with me, especially if you find any errors!
    </p>
    <div class="social-icons">
        <a href="https://www.linkedin.com/in/mahan-maalekian" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/mahanmaalekian" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="mailto:maalekianmahan@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></i></a>
        </div>
    </div>
</section>
{% endblock %}
